<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明bean-->
    <!--
        构造注入： Spring调用类的有参数构造方法，创建对象同时给属性赋值
        语法：
            <bean id="xxx" class="yyy">
               <constructor-arg>: 表示一个构造方法的形参
               标签有属性： name ：构造方法形参名
                           index：构造方法的参数位置
                           value：简单类型的形参值
                           ref：  引用类型的形参值

            </bean>
    -->


    <!--构造注入，使用name属性-->
    <bean id="myStudent" class="com.bjpowernode.ba03.Student">
        <constructor-arg name="myage" value="22" />
        <constructor-arg name="myname" value="李四"/>
        <constructor-arg name="mySchool" ref="mySchool"/>
    </bean>

    <!--构造注入，使用index，参数的位置，构造方法参数从左往右位置是0,1,2-->
    <bean id="myStudent2" class="com.bjpowernode.ba03.Student">
        <constructor-arg index="1" value="28"/>
        <constructor-arg index="0" value="张三"/>
        <constructor-arg index="2" ref="mySchool" />
    </bean>


    <!--构造注入，省略index属性-->
    <bean id="myStudent3" class="com.bjpowernode.ba03.Student">
        <constructor-arg  value="张峰"/>
        <constructor-arg  value="28"/>
        <constructor-arg  ref="mySchool" />
    </bean>

    <!--声明School-->
    <bean id="mySchool" class="com.bjpowernode.ba03.School">
        <property name="name" value="北京大学"/>
        <property name="address" value="北京的海淀区"/>
    </bean>

    <!--声明File对象-->
    <bean id="myFile" class="java.io.File">
        <constructor-arg name="parent" value="D:\\course"/>
        <constructor-arg name="child" value="2009班级网盘.txt" />
    </bean>

</beans>