<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!--声明组件扫描器：使用注解必须加入这个语句
        component-scan:翻译过来是组件扫描器，组件是java对象。
            属性： base-package 注解在你的项目中的包名。
                  框架会扫描这个包和子包中的所有类，找类中的所有注解。
                  遇到注解后，按照注解表示的功能，去创建对象， 给属性赋值。
    -->
    <context:component-scan base-package="com.bjpowernode.ba01"/>

    <!--扫描多个包的三种方式-->
    <!--第一种，使用多次组件扫描器-->
    <context:component-scan base-package="com.bjpowernode.ba01"/>
    <context:component-scan base-package="com.bjpowernode.ba02"/>

    <!--第二种，使用分隔符( ;或,)，指定多个包-->
    <context:component-scan base-package="com.bjpowernode.ba01;com.bjpowernode.ba02"/>

    <!--第三种：指定父包-->
    <context:component-scan base-package="com.bjpowernode" />
</beans>